$azul:#0D79FA;
$azulclaro:#0BA3DE;
$celeste:#00F0F5;
$verdeclaro:#0BDEA6;
$verde:#0DFA78;
@import "reset";
@import "nav";
@import "extend";
@import "home";
@import "servicios";
@import "productos";
@import "sobrenosotros";
@import "contactanos";


